/* background transparency */

body {
 margin: 0 50px;
 font-family: sans-serif
}

h1, h4 {
 margin: 0;
}

h1 {
 margin: 0 0 10px;
}

div {
 background: #0098d4;
 border-radius: 10px;
 color: #efefef;
 margin: 50px auto;
 padding: 25px;
 width: 600px;
}

.day {
 background-color: yellow;
}

.sunset {
 background-color: silver;
}

.night {
 background-color: #2b2b2b;
}

 .day:after,
 .sunset:after,
 .night:after {
  color: red;
  content: "";
  font-size: 2em;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 
 .day:after {
  content: "It's DAY  :D";
 }
 
 .sunset:after {
  content: "It's SUNSET  :)";
 }
 
 .night:after {
  content: "It's NIGHT  :(";
 }


/* digital clock */

 #timedate {
    font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align:left;
    width: 50%;
    margin: 40px auto;
    color:#fff;
    border-left: 3px solid #ed1f24;
    padding: 20px;
  }