

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
}

.container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 20px;
        padding: 100px;
	flex-direction: column;
	align-items: center;
}

.container:hover {
	cursor: pointer;
}

.container img {
	filter: grayscale();
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 6px solid whitesmoke;
	box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
	margin-bottom: 1rem;
	transition: filter 0.4s ease-in-out;
}

.container:hover img {
	filter: none;
}

.title {
	font-family: "Dancing Script", cursive;
	font-size: 3rem;
	color: whitesmoke;
	position: relative;
}

.title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color:aqua;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.container:hover .title::after {
	width: 100%;
	left: 0;
}

body {
	background-image: url(images/checkered-black-pink-squares-1440x2880-c2-000000-ff69b4-l-90-a-0-f-2.svg);
	height: 100vh;
  width: 100%;
  background-size: cover;
	justify-content: center;
	align-items: center;
}

.container2 {
    column-width: 250px;
    column-gap: 20px;

  }
  
  .card {
    padding: 10px;
    margin: 0 0 1em 0;
    color: aliceblue;
  }





  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 350px;
    perspective: 1000px; 
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: var(--crl-bg);
    color:aqua;
  }
  
  .flip-box-back {
    background-color: var(--crl-bg);
    color:aqua;
    transform: rotateY(180deg);
  }

  .scroll-left {
    height: 350px;	
    overflow: hidden;
    position: relative;
   }
   .scroll-left .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-left 17s linear infinite;
    -webkit-animation: scroll-left 17s linear infinite;
    animation: scroll-left 17s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-130%); /* Browser bug fix */
    -webkit-transform: translateX(-130%); /* Browser bug fix */
    transform: translateX(-130%); 
    }

    
   }@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .cd {
    -webkit-animation: rotating 20s linear infinite;
    -moz-animation: rotating 20s linear infinite;
    -ms-animation: rotating 20s linear infinite;
    -o-animation: rotating 20s linear infinite;
    animation: rotating 20s linear infinite;
    position:relative;
  }

  .key {
    position: relative;
    text-align: center;
}



   