*{
	margin:0;
	padding:0;
}

html,body{
	background:black;
}

img{
	position: relative;
	float:left;
	width:25%;
}

h1{
	width: 50%;
	text-align: center;
	margin:35px auto;
	padding:14px;
	color:wheat;
	font-family: helvetica;
	font-weight: bold;
	text-transform: uppercase;
}

select{
	font-size:35px;
	margin:14px;
}
















