

body {
    background-color: olivedrab;
}

.canvas {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    text-align: center;
    color: yellowgreen;
    font-family: sans-serif;
    text-transform: uppercase;
}

.phrase1, .phrase2 {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    padding: 20px;
}
	
.phrase1:hover {
    color: olivedrab;  
    cursor: pointer;
}


.phrase2:hover {  
    color: olivedrab;  
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }


